include ../../_min/js/jquery-3.2.1.js
include ../../_min/js/get_elements.js
include ../../_min/js/colors_and_activation.js
include ../../_min/js/get_api.js
include ../../_min/js/color_update.js	
include ../../_min/js/new_proverbio.js
include ../../_min/js/break_sentences.js
include ../../_min/js/canvas.js
include ../../_min/js/edit_script.js
include ../../_min/js/facebook_api.js
include ../../_min/js/functions.js
