include ../0-setup/variables.jade
include ../0-setup/head.jade
body
	main#container
		include ../3-pages-mods/hero-canvas.jade
		include ../3-pages-mods/export-canvas.jade
	
	include ../3-pages-mods/toolbar.jade
	include ../3-pages-mods/social.jade
	include ../1-modules/footer.jade

	script
		include ../0-setup/scripts.jade
