aside.social
    a(onclick="sharePhoto()")
        img(src="assets/images/social-fb.svg", alt="Isto é o alt")
    a()
        img(src="assets/images/social-instagram.svg", alt="")
    a()   
        img(src="assets/images/social-twitter.svg", alt="")

div#status(style="position: fixed; top: 10px; right: 10px; background: rgba(0,0,0,.5); color: white;")
    
