aside.social
    div: span Partilha:
    a(id="create-facebook-bt")
        img(src="assets/images/social-fb.svg", alt="Isto é o alt")
    a()
        img(src="assets/images/social-instagram.svg", alt="")
    a()   
        img(src="assets/images/social-twitter.svg", alt="")

.modal-facebook
    div.form-facebook
        textarea#fb-description
        canvas#fb-canvas
    
        div.buttons
            a(class="cancel") Cancel
            a(class="share", onclick="sharePhoto()") Partilhar
