aside.social
    button()
        img(src="assets/images/social-fb.svg", alt="")
    button()
        img(src="assets/images/social-instagram.svg", alt="")
    button()   
        img(src="assets/images/social-twitter.svg", alt="")
