aside.social
    ul
        li: img(src="assets/images/social-fb.svg", alt="")
        li: img(src="assets/images/social-instagram.svg", alt="")
        li: img(src="assets/images/social-twitter.svg", alt="")
