.color-1 {
  background-color: #3498DB;
}

.color-2 {
  background-color: #1ABC9C;
}

.color-3 {
  background-color: #9B59B6;
}

.color-4 {
  background-color: #E67E22;
}

.color-5 {
  background-color: #E74C3C;
}

.color-6 {
  background-color: #F1C40F;
}

.color-7 {
  background-color: #27AE60;
}

body {
  background: #D6CFCB;
  font-family: "Raleway", sans-serif;
}

.container {
  position: relative;
  margin: 50px auto;
  width: var(--canvasSize);
  height: var(--canvasSize);
  z-index: -1;
}
.container canvas {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
.container .proverbio {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  text-transform: uppercase;
}
.container .proverbioA {
  margin: 0 auto;
}
.container .proverbioB span {
  margin-top: 50px;
}
.container .proverbioA,
.container .proverbioB {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  height: 250px;
  width: 500px;
  color: white;
  z-index: 1;
  display: table;
}
.container .proverbioA p,
.container .proverbioB p {
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

canvas {
  background-color: #3498DB;
}

.brand {
  position: absolute;
  top: 0;
  left: 42px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  width: 245px;
  font-size: 15px;
  background-image: -webkit-linear-gradient(rgba(52, 73, 94, 0.4), rgba(52, 73, 94, 0.4));
  background-image: linear-gradient(rgba(52, 73, 94, 0.4), rgba(52, 73, 94, 0.4));
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}
aside.top button.refresh {
  display: block;
  margin: 20px auto;
  height: 50px;
  width: 90px;
  background: #42A3DD;
  color: white;
  text-transform: lowercase;
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
aside.top button.refresh:active .rotate {
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
aside.top button.refresh img {
  height: 20px;
  margin: 15px auto;
}

aside.bottom .option {
  text-align: center;
  top: 100px;
  right: 20px;
}
aside.bottom .option label {
  text-transform: uppercase;
}
aside.bottom .option .colors-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
aside.bottom .option .colors-bar .color-item {
  height: 25px;
  width: 25px;
  margin: 5px;
  border: 2px solid #bbb;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  outline: none;
}
aside.bottom .option .colors-bar .color-item.active {
  border: 2px solid black;
}
aside.bottom .option .colors-bar .color-item:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
